{% extends "base.html.twig" %} {% block body %}
<h1>{{ titre }}</h1>
<p>Titre du livre : {{ livre.titre }}</p>
<im>
  <a href="{{ path("livre_genres", { id: livre.id }) }}"> Genres du livre : </a>{% for
  genre in livre.genres %} <a href="{{path('livres_genre', {id: genre.id})}}">{{ genre.libelle }} </a> {% endfor%} #}
</im>
<strong> Auteur : </strong> {{ livre.auteur.prenom }}

{% endblock body %}
